.button{text-decoration:none; text-align:center; 
display: inline-block;
    width: 300px;
  padding:7px 24px; 
 border:none; 
 -webkit-border-radius:23px;
 -moz-border-radius:23px; 
 border-radius: 23px; 
 font:17px Georgia, "Times New Roman", Times, serif; 
 font-weight:bold; 
 color:#000000; 
 background-color:#e354d7; 
 background-image: -moz-linear-gradient(top, #e354d7 0%, #1f08a1 100%); 
 background-image: -webkit-linear-gradient(top, #e354d7 0%, #1f08a1 100%); 
 background-image: -o-linear-gradient(top, #e354d7 0%, #1f08a1 100%); 
 background-image: -ms-linear-gradient(top, #e354d7 0% ,#1f08a1 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f08a1', endColorstr='#1f08a1',GradientType=0 ); 
 background-image: linear-gradient(top, #e354d7 0% ,#1f08a1 100%);   
 -webkit-box-shadow:inset 0,0,0px 0,0,0px 1,1,1px #ffffff,#ffffff,#ffffff;  -moz-box-shadow:inset 0px 0px 1px #ffffff;  box-shadow:inset 0px 0px 1px #ffffff;  
  
  }.button:hover{
 padding:7px 24px; 
 border:none; 
 -webkit-border-radius:23px;
 -moz-border-radius:23px; 
 border-radius: 23px; 
 font:18px Georgia, "Times New Roman", Times, serif; 
 font-weight:bold; 
 color:#e5ffff; 
 background-color:#ff0000; 
 background-image: -moz-linear-gradient(top, #ff0000 0%, #37915e 100%); 
 background-image: -webkit-linear-gradient(top, #ff0000 0%, #37915e 100%); 
 background-image: -o-linear-gradient(top, #ff0000 0%, #37915e 100%); 
 background-image: -ms-linear-gradient(top, #ff0000 0% ,#37915e 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37915e', endColorstr='#37915e',GradientType=0 ); 
 background-image: linear-gradient(top, #ff0000 0% ,#37915e 100%);   
 -webkit-box-shadow:6px 6px 0px #bababa, inset 0px 0px -1px #ffffff; 
 -moz-box-shadow: 6px 6px 0px #bababa,  inset 0px 0px -1px #ffffff;  
 box-shadow:6px 6px 0px #bababa, inset 0px 0px -1px #ffffff;  
  
 }.button:active{
 padding:7px 22px; 
 border:none; 
 -webkit-border-radius:28px;
 -moz-border-radius:28px; 
 border-radius: 28px; 
 font:18px Georgia, "Times New Roman", Times, serif; 
 font-weight:bold; 
 color:#e5ffff; 
 background-color:#ff00ea; 
 background-image: -moz-linear-gradient(top, #ff00ea 0%, #1e00ff 100%); 
 background-image: -webkit-linear-gradient(top, #ff00ea 0%, #1e00ff 100%); 
 background-image: -o-linear-gradient(top, #ff00ea 0%, #1e00ff 100%); 
 background-image: -ms-linear-gradient(top, #ff00ea 0% ,#1e00ff 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e00ff', endColorstr='#1e00ff',GradientType=0 ); 
 background-image: linear-gradient(top, #ff00ea 0% ,#1e00ff 100%);   
 -webkit-box-shadow:inset 0,0,0px 0,0,0px 1,1,1px #ffffff,#ffffff,#ffffff;  -moz-box-shadow:inset 0px 0px 1px #ffffff;  box-shadow:inset 0px 0px 1px #ffffff;  
  
 }